<!-- card_hero.html.twig -->

<div class="modular-row callout relative {{ page.header.body_classes|e }}">
{% block hero %}

  {% for image in page.media.images %}
  <div 
  class="mySlides fade h-52" 
  {% if loop.first %}style="display:block;"{% else %}style="display:none;"{% endif %}
  >
    <img src="{{ page.route }}/{{ image.filename }}" class="w-full h-52">
  </div>
  {% endfor %}


  <div class="solawi-hero text-center absolute top-0 ml-10 text-stroke">
      <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">
          {{ page.title|e }}
          </h1>
          <div class="solawi-hero-content caveat mb-5">
          {{ content|raw }}
          </div>
      </div>
  </div>


{% endblock %}
</div>

