<div class="modular-row callout">
{% block hero %}
    <!--div class="hero min-h-52" style="background-imagee: url('./images/tomaten.jpg')"-->
    <!--div class="hero min-h-52" style="background-image: url('{{ url('theme://images/tomaten.jpg')|e }}')"-->
    {% set image = page.media.images|first %}
    {% if image %}
    <div class="hero min-h-52" style="background-image: url('{{ page.route }}/{{ image.filename }}')">
    {% endif %}

    <div class="hero-overlay bg-opacity-60"></div>
        <div class="text-center hero-content text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">
                {{ page.title|e }}
                </h1>
                <p class="mb-5">
                {{ content|raw }}
                </p>
                <!--button class="btn btn-primary">Get Started</button-->
            </div>
        </div>
    </div>
{% endblock %}
</div>