<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}" class="h-full">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/svg+xml" href="{{ url('theme://images/solawi.svg')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
	{% do assets.addCss('theme://css/site.css', 100) %}
  {% do assets.addCss('theme://css/custom.css', 99) %}
{% endblock %}

{% block javascript %}
	{% do assets.addJs('theme://js/theme.js', 100) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="h-full text-justify {{ page.header.body_classes|e }}">

<div id="app" class="h-full">
      <div class="min-h-full shadow bg-base-200 drawer lg:drawer-open">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="flex flex-col drawer-content justify-between">

          <!-- Navigation Beg -->
          <!--
          <nav class="w-full lg:w-20 navbar p-0 bg-base-300 absolute top-0 h-16">
-->
          <nav class="navbar bg-base-300 h-16">
            <div class="navbar-start">
              <div class="lg:hidden">
              {% block logo_nav %}
              {% include 'partials/logo.html.twig' %}
              {% endblock %}
              </div>
            </div>


            <div class="navbar-end mx-4">

              <!-- Dark & Light -->
              <label class="swap swap-rotate btn btn-square btn-ghost">

              <!-- this hidden checkbox controls the state -->
              <input type="checkbox" id="toggleModeBtn"
                            onclick="themeModeToggle(this)"
                            aria-label="Color Mode" />

              <!-- sun icon -->
              <svg class="swap-on fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>

              <!-- moon icon -->
              <svg class="swap-off fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>

              </label>


              <div class="lg:hidden">


              <!-- Burger Menu -->
              <label  for="my-drawer-3" class=" btn btn-square btn-ghost swap swap-rotate">
                
                <!-- this hidden checkbox controls the state -->
                <input type="checkbox"  />
                
                <!-- hamburger icon -->
                <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
                
                <!-- close icon -->
                <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>
                
              </label>

              </div>
            </div>
          </nav>
          <!-- Navigation End -->

          <!-- Content Beg -->
          <section class="md:container md:mx-auto content">
          {% block content %}
          {% endblock %}
          </section>
          <!-- Content End -->

          {% block footer %}
          <footer class="footer footer-center p-4 mt-4 bg-base-300 text-base-content">
            <div class="flex px-4">
             <a href="/seite/impressum">Impressum</a> 
             <a href="/seite/datenschutz">Datenschutz</a> 
            </div>
          </footer>
          {% endblock %}
        </div>

        <!-- Navigation Side Beg -->
        <div class="drawer-side top-16 lg:top-0">
          
          <div class="block p-2 bg-base-300">
            {% block logo_sidebar %}
            {% include 'partials/logo.html.twig' %}
            {% endblock %}
          </div>
          <!-- Label must be here, don't delete -->
          <label for="my-drawer-3" class="drawer-overlay">
          </label>

          <ul class="navigation p-4 overflow-y-auto menu w-80 bg-base-100 lg:h-[calc(100%-4rem)]">

          {% block sidebar_navigation %}
              {% include 'partials/navigation2.html.twig' %}
          {% endblock %}
         
          </ul>
        </div>
        <!-- Navigation Side End -->
      </div>
    </div>

    {% block bottom %} {{ assets.js('bottom')|raw }} {% endblock %}
</body>

</html>
