{% macro loop(page, child) %}
	{% for p in page.children.visible %}
		{% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
		{% if p.children.visible.count > 0 %}
			{% if child == true %}
				<li class="has-children child {{ current_page|e }}">
					<a href="{{ p.url|e }}" class="{{ current_page|e }}">
						{% if p.header.icon %}
							<i class="fa fa-{{ p.header.icon|e }}"></i>
						{% endif %}
						{{ p.menu|e }}
					</a>
					<ul>
						{{ _self.loop(p, true) }}
					</ul>
				</li>
			{% else %}
				<li>
					{% if current_page|length %}
						<details open>
						{% else %}
							<details>
							{% endif %}
							<summary>{{ p.menu|e }}</summary>
							<ul class="menu-dropdown">
								{{ _self.loop(p, true) }}
							</ul>
						</details>
					</li>
				{% endif %}
			{% else %}
				{% if child == true %}
					<li class="child {{ current_page|e }}">
					{% else %}
						<li class="{{ current_page|e }}">
						{% endif %}
						<a href="{{ p.url|e }}" class="{{ current_page|e }}">
							{% if p.header.icon %}
								<i class="fa fa-{{ p.header.icon|e }}"></i>
							{% endif %}
							{{ p.menu|e }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		{% endmacro %}

		<ul class="menu">
			{% if config.theme.dropdown.enabled %}
				{{ _self.loop(pages, false) }}
			{% else %}
				{% for page in pages.children.visible %}
					{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
					<li class="{{ current_page|e }}">
						<a href="{{ page.url|e }}" class="{{ current_page|e }}">
							{% if page.header.icon %}
								<i class="fa fa-{{ page.header.icon|e }}"></i>
							{% endif %}
							{{ page.menu|e }}
						</a>
					</li>
				{% endfor %}
			{% endif %}
			{% for mitem in site.menu %}
				<li>
					<a href="{{ mitem.url|e }}">
						{% if mitem.icon %}
							<i class="fa fa-{{ mitem.icon|e }}"></i>
						{% endif %}
						{{ mitem.text|e }}
					</a>
				</li>
			{% endfor %}
		</ul>
